footer {
  background: #111;
  color: #fff;
  text-align: center;

  .footer_nav {
    margin: 0 auto;
    padding: 60px 20px 30px;
    max-width: 600px;
      li {
        margin: 0 10px;
        padding: 5px;
        font-size: 1.2rem;
      
    }
  }

  p {
    font-size: 1rem;
    color: #888;
    padding-bottom: 20px;
  }
}

@include mq {
  footer {
    .flex {
      flex-wrap: wrap;
      margin: 0;
      width: 100%;
      justify-content: flex-start;
    }
  }
}