
header {
  color: white;
  width: 100%;
  font-weight: bold;
  padding: 30px 30px;
  position: fixed;
  top: 0px;
  z-index: 2;
  transition: all 0.3s ease;

  &.is_fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
    background-color: $color_theme_dark;
  }

  .gnav_list {
    li {
      font-size: 1.2rem;
      display: inline-block;
      padding-left: 25px;

      a {
        position: relative;
        font-size: 1.4rem;
        &::after {
          content: "";
          height: 1px;
          width: 0;
          position: absolute;
          left: 0;
          bottom: -5px;
          background-color: white;
          transition: all 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }


  .gnavSP {
    display: none;
  }


  .btnMenu {
    display: none;
  }

  #scroll_top_btn{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    background-color: $color_theme;
    transition: all 0.4s ease;
    opacity: 0;
  }
}

@include mq {
  header {
    position: fixed;
    padding: 15px 20px;

    &.is_fixed {
      background-color: $color_theme_dark;
      padding: 15px 20px;
    }

    img {
      width: 120px;
      display: flex;
      align-items: center;
    }

    .gnav {
      display: none;
    }

    .gnavSP {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      visibility: hidden;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
      opacity: 0;
      background: linear-gradient(135deg, $color_theme_light, $color_theme_dark);
      text-align: center;
      z-index: 2;

      li:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    .show {
      visibility: visible;
      opacity: 1;
    }

    .btnMenu {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      z-index: 3;
    }

    .btnMenu-line {
      position: relative;
      display: block;
      width: 30px;
      height: 2px;
      transition: all .3s;
      border-radius: 4px;
      background-color: #fff;
    }

    .btnMenu-line::before,
    .btnMenu-line::after {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      transition: inherit;
      border-radius: 4px;
      background-color: inherit;
    }


    .btnMenu-line::before {
      top: -8px;
    }

    .btnMenu-line::after {
      top: 8px;
    }

    .btnMenu.active .btnMenu-line {
      background-color: transparent;
    }

    .btnMenu.active .btnMenu-line::before,
    .btnMenu.active .btnMenu-line::after {
      top: 0;
      background-color: #fff;
    }

    .btnMenu.active .btnMenu-line::before {
      transform: rotate(45deg);
    }

    .btnMenu.active .btnMenu-line::after {
      transform: rotate(-45deg);
    }
    #scroll_top_btn{
      right: 20px;
      bottom: 20px;
    }
  }

}