.sub_visual {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 240px;
  text-align: center;

  .category {
    color: white;
    position: relative;
    top: 50%;
  }
}

.topic_path {
  background: #f2f2f2;
  text-align: left;

  ol {
    margin: 0 auto;
    max-width: 1110px;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  li {
    display: inline;

    a{
      color: $color_theme;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  li::after {
    content: ">";
    display: inline-block;
    padding: 0 10px;
  }

  li:last-child::after {
    display: none;
  }
}