html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.8;
  font-family: "Montserrat", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: $color_text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  display: inline-block;
}

img {
  max-width: 100%;
}